{% extends "base.html" %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/login-and-registration.js') }}"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-and-registration.css') }}">
{% endblock %}

{% block content %}
  <section class="login-and-registration-screen">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="login-and-registration-card">
            <div class="login-and-registration-card-content-container">
              <span class="logo-container">
                <img alt="FTA Logo" src="{{ url_for('static', filename='img/marta-logo.png') }}"/>
              </span>
              <div class="login-and-registration-form-container">
                <form class="form-group" method="post">
                  {% if is_registration %}
                    <!-- Username Input -->
                    <fieldset class="form-field">
                      {{ form.username(class="login-and-registration-input validate", placeholder="Username", title="Enter Username") }}
                      {% if form.username.errors %}
                        <ul class="errors">
                          {% for error in form.username.errors %}
                            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </fieldset>
                    
                    <!-- Email Input -->
                    <fieldset class="form-field">
                      {{ form.email(class="login-and-registration-input validate", placeholder="Email", type="email", title="Enter Email") }}
                      {% if form.email.errors %}
                        <ul class="errors">
                          {% for error in form.email.errors %}
                            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </fieldset>

                    <!-- Password Input -->
                    <fieldset class="form-field">
                      {{ form.password(class="login-and-registration-input validate", placeholder="Password", minlength="8", title="Enter Password") }}
                      {% if form.password.errors %}
                        <ul class="errors">
                          {% for error in form.password.errors %}
                            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </fieldset>
                    
                    <!-- Confirm Password Input -->
                    <fieldset class="form-field">
                      {{ form.confirm_password(class="login-and-registration-input validate", placeholder="Confirm Password", title="Confirm Password") }}
                      <i class="fas fa-check icon-hidden"></i>
                      <i class="fas fa-times icon-hidden"></i>
                      <!-- <span class="icon-container icon-hidden"><i class="fas fa-check"></i></span>
                      <span class="icon-container icon-hidden"><i class="fas fa-times"></i></span> -->
                      {% if form.confirm_password.errors %}
                        <ul class="errors">
                          {% for error in form.confirm_password.errors %}
                            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </fieldset>
                    
                    {{ form.submit(class="login-and-registration-button") }}
                  {% else %}

                  {% endif %}
                </form>
              </div>
              <div class="redirect-container">
                {% if is_registration %}
                  <p class="redirect-message">Already registered?</p>
                  <a href="/login">Sign In</a>
                {% else %}
                  <p class="redirect-message">Not registered?</p>
                  <a href="/register">Create New Account</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
