<!-- PUT IN A MODAL UPON REGISTERING -->

<!-- <label class="radio-button-label">
  <input type="radio" id="needBreezecard" name="breezecardCheck" value="need" style="margin:0px 15px 0px 0px; width:auto;" required="" />I don't have an existing breezecard
</label><br/>
<label class="radio-button-label">
  <input type="radio" id="haveBreezecard" name="breezecardCheck" value="have" style="margin:0px 15px 0px 0px; width:auto;" required="" />I have an existing breezecard
</label>

<input 
  type="text" 
  placeholder="Enter Transit Card Number" 
  name="transit_card"
  class="login-and-registration-input validate"
  minlength="19"
  maxlength="19"
  pattern="[0-9 ]{19}"
  title="Must be a 16-digit number"
/> -->
